<!-- <button mat-raised-button color="primary">Primary</button>
<button mat-icon-button color="primary">
  <mat-icon>favorite</mat-icon>
</button> -->

<div class="container">
  <h3>Basic Buttons</h3>
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>

  <h3>Buttons with Raised</h3>
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Warning</button>

  <h3>Buttons without Raised</h3>
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Warning</button>

  <a mat-stroked-button>Link</a>

  <h3>Flat Buttons</h3>
  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="primary" disabled>Disabled Primary</button>
  <button mat-flat-button color="accent">Warning</button>

  <a mat-flat-button>Link</a>
</div>
