<mat-card>
  <mat-card-title>
    New Course
  </mat-card-title>
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Speciality">
        <mat-option value="angular">Angular</mat-option>
        <mat-option value="javascript">JavScript</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>


