<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Panel 1</mat-panel-title>
      <mat-panel-description>Content - Panel 1</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="Enter Text">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Panel 2</mat-panel-title>
      <mat-panel-description>Content - Panel 2</mat-panel-description>
    </mat-expansion-panel-header>
    <p>Test Text</p>
    <button mat-button>Send</button>
  </mat-expansion-panel>
</mat-accordion>
