<div class="container">
  <h3>Buttons with Icon</h3>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-icon-button color="primary">
    <mat-icon>alarm_on</mat-icon>
  </button>

  <button mat-icon-button color="accent">
    <mat-icon>accessibility</mat-icon>
  </button>

  <button mat-icon-button color="warn">
    <mat-icon>3d_rotation</mat-icon>
  </button>

  <h3>Fab Buttons</h3>
  <button mat-fab color="warn">
    <mat-icon>call</mat-icon>
  </button>

  <button mat-fab color="primary">
    <mat-icon>room</mat-icon>
  </button>

  <h3>Mini Fab Button</h3>
  <button mat-mini-fab color="warn">
    <mat-icon>call</mat-icon>
  </button>

  <button mat-mini-fab color="primary">
    <mat-icon>room</mat-icon>
  </button>

  <h3>Only Icons</h3>
  <mat-icon>home</mat-icon>
  <mat-icon color="primary">thumb_up</mat-icon>
  <mat-icon color="accent">thumb_down</mat-icon>
</div>
